#HNembed {
  position: fixed;
  clear: both;
  width: 638px;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  padding: 0px;
  margin: 0px;
  text-align: center;
  color: #335500;
  background-color: #F6F6EF;
  z-index: 999999;
  right: -700px;
  top: 0;
}
#HNsite {
  width: 100%;
  height: 178px;
  border: none;
}
#HNheader {
  background-color: #f6f6ef !important;
  color: #bbb !important;
  font-family: Verdana !important;
  font-size: 10pt !important;
  cursor: pointer !important;
  height: 20px !important;
  margin: 0 !important;
}
#HNheader #HNtitleHover {
	display: none !important;
}
#HNheader:hover {
	background-color: #ddd !important;
}
#HNheader:hover #HNtitleHover {
	display: block !important;
  color: #aaa !important;
}
#HNheader:hover #HNtitleNormal {
	display: none !important;
}
#HNtabWrap {
  position: fixed;
  top: 10%;
  right: 0px;

  width: 24px !important;
  height: 126px !important;

  z-index: 999999;
}
#HNtab {
  position: absolute;
  top: 0;
  right: -1px;

  width: 25px !important;
  height: 126px !important;

  line-height: 24px;

  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAElBMVEX1fij3lk34p2j/WwH/38P///8isivPAAAAPklEQVR4AWNgxgHwSbBiARAJTOV0lmBlwiXBysqI3SgmFlYWJux2MEH8RqwEA8IoTMuJcO7ABiKeqCU9lQAAxQEHekU4N18AAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-color: #FF6600;
  clear: both;
  color: #222222;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
  text-align: center;
  text-indent: -100000px;
  overflow: hidden; /* not sure why, but this helps show the text :) */
}
#HNtab #HNtabText {
  transform: rotate(-90deg);
  transform-origin: left bottom 0;
  position: absolute;

  height: 16px;
  width: 95px;

  left: 16px;
  top: 86px;

  text-align: right;
  padding-right: 4px;

  font-family: Verdana, sans-serif;
  font-size: 9pt;
}
#HNtabWrap:hover {
  /*box-shadow: 0 0 2px rgba(0,0,0,0.6);*/
}
#HNtabWrap:hover #HNtab {
  /*right: 0px;*/
  transform: translate3d(-1px, 0, 0);
}
#HNtabWrap.hntab-open:hover #HNtab {
  /*right: -2px;*/
  transform: translate3d(1px, 0, 0);
}

#HNupdate {
  color: yellow;
  margin-left: 10px;
  font-weight: bold;
}
#HNtitle {
  width: 100%;
}
